
* {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: "Inter", sans-serif;
  
}



.cards {
  display: flex;
  flex-direction: column;
  
}


.card--img {
  width:100%;
  border-radius: 25px;
  margin-right:20px;
  max-width: 200px;
}
.logo{
  align-items: center;
  padding-top:14px;
}
.card--info{
 
  display: flex;
  flex-direction: column;
  padding-left:50px;
  max-width: 600px;
  align-self: center;
 
}

.card {
  
  margin:10px 0px 10px 0px;
  padding:10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  width:80%;
  margin-left:auto;
  margin-right:auto;

}

.header {
  align-items: center;
}

.header > span, img {
  padding-right:20px;
}